.paypalButton, flutterwaveButton {
    font-size: 1.1rem;
    font-weight: 600;
}

.flutterwaveButton {
    background-color: #f89500;
    border: none;
    color: white;
}

.paypalButton:hover, .flutterwaveButton:hover {
    opacity: 0.9;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px rgba(0,0,0,0.1);
}